/** {
    scrollbar-width: thin;
    scrollbar-color: #787276 transparent;
}
  
/* Works on Chrome/Edge/Safari 
*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #787276;
  border-radius: 20px;
  border: 1px solid transparent;
}*/